<template>
  <main class="container py-4">
    <div class="row center-content align-content-center">
      <div class="col text-center">
        <h1>Movie Trailers Test Project</h1>
        <PopcornLoader />
      </div>
    </div>
  </main>
</template>

<script>
// @ is an alias to /src
import PopcornLoader from '@/components/PopcornLoader';

export default {
  name: 'home',
  components: {
    PopcornLoader
  },
  metaInfo() {
    return {
      title: 'Movie Trailers Test Project',
      meta: [
        { vmid: 'description', name: 'description', content: 'A test project to present skills for a front-end role.'}
      ],
      htmlAttrs: {
        lang: 'en'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.center-content {
  min-height: calc(100vh - 58px - 3rem);
}
</style>
