<template>
    <main class="container py-4">
        <div class="row">
            <div class="col">
                <h1>Search Results for "{{ searched }}"</h1>
                <div v-show="!searchComplete">
                    <PopcornLoader/>
                </div>
                <div v-show="searchComplete">
                    <div v-if="videos.length > 0">
                        <ul class="list-unstyled">
                            <li class="media py-4" v-for="video in videos" :key="video.id">
                                <router-link :to="{ name: 'video', params: { videoId: video.id } }"><img :src="video.thumbnails.default.url" :alt="video.title" class="mr-3 img-fluid"></router-link>
                                <div class="media-body">
                                    <router-link :to="{ name: 'video', params: { videoId: video.id } }"><h5 class="mt-0 mb-1" v-html="video.title">{{ video.title }}</h5></router-link>
                                    <p v-if="video.description" style="white-space: pre-line;">{{ video.description }}</p>
                                    <p v-else style="white-space:pre-line;">Video has no Description.</p>
                                    <div class="row">
                                        <div class="col col-md-2" title="Views"><i class="fas fa-eye"></i> {{ video.views }}</div>
                                        <div class="col col-md-2" title="Likes"><i class="fas fa-thumbs-up"></i> {{ video.likes }}</div>
                                        <div class="col col-md-2" title="Dislikes"><i class="fas fa-thumbs-down"></i> {{ video.dislikes }}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div v-else>
                        <h3>Sorry, no videos were found for that search.</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import axios from 'axios';
import PopcornLoader from '@/components/PopcornLoader';

export default {
    props: [
        'searched'
    ],
    components: {
        PopcornLoader
    },
    metaInfo() {
        return {
            title: 'Search Results for ' + this.searched,
            meta: [
                { vmid: 'description', name: 'description', content: 'Place to search for videos based on keywords.'}
            ],
            htmlAttrs: {
                lang: 'en'
            }
        }
    },
    data() {
        return {
            searchComplete: false,
            search_api_endpoint: 'https://www.googleapis.com/youtube/v3/search?part=snippet&type=video&maxResults=5&key=AIzaSyDsYOmtGfzLyAWilGq7zQg92AabFz2z0nU&q=',
            video_api_endpoint: 'https://www.googleapis.com/youtube/v3/videos?part=statistics&key=AIzaSyDsYOmtGfzLyAWilGq7zQg92AabFz2z0nU&id=',
            videos: []
        }
    },
  watch: {
      searched: {
          immediate: true,
          handler(val, oldVal) {
              this.callApi();
          }
      }
  },
  methods: {
      callApi() {
          this.searchComplete = false;
          axios.get(this.search_api_endpoint + this.searched).then((response) => {
            //   console.log(response);
              this.videos = response.data.items.map((video) => {
                  let vidObject = {
                    id: video.id.videoId,
                    title: video.snippet.title,
                    description: video.snippet.description,
                    thumbnails: video.snippet.thumbnails,
                    views: 0,
                    likes: 0,
                    dislikes: 0
                  }
                  axios.get(this.video_api_endpoint + video.id.videoId).then((internalResponse) => {
                    // console.log(internalResponse);
                    vidObject.views = internalResponse.data.items[0].statistics.viewCount;
                    vidObject.likes = internalResponse.data.items[0].statistics.likeCount;
                    vidObject.dislikes = internalResponse.data.items[0].statistics.dislikeCount;
                  });
                  this.searchComplete = true;
                //   console.log(vidObject);
                  return vidObject;
              });
          })
      }
  }
}
</script>

<style lang="scss" scoped>
.media + .media {
    border-top: 1px solid #000;
}
</style>