<template>
    <main class="container py-4">
        <div class="row">
            <div class="col col-md-9">
                <b-embed type="iframe" aspect="16by9" :src="'https://www.youtube.com/embed/' + videoId" allowfullscreen></b-embed>
            </div>
            <div class="col-12 order-md-2">
                <h1 class="mt-3 mb-2" v-html="video.title">{{ video.title }}</h1>
                <hr class="mt-0 mb-1">
                <div class="description" @click="truncated = !truncated" :class="{ 'truncated': truncated }">
                    <p style="white-space: pre-line;">{{ video.description }}</p>
                </div>
            </div>
            <div class="col col-md-3 order-md-1 align-self-end">
                <div class="row text-sm-center text-md-left text-left">
                    <div class="col-12 col-sm col-md-12">
                        <h5>{{ video.views }} views</h5>
                    </div>
                    <div class="col-12 col-sm col-md-12">
                        <h5><i class="fas fa-thumbs-up"></i> {{ video.likes }}</h5>
                    </div>
                    <div class="col-12 col-sm col-md-12">
                        <h5><i class="fas fa-thumbs-down"></i> {{ video.dislikes }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import axios from 'axios';
export default {
    props: [
        'videoId'
    ],
      metaInfo() {
          return {
            title: this.video.title,
            meta: [
                { vmid: 'description', name: 'description', content: this.video.description }
            ],
            htmlAttrs: {
                lang: 'en'
            }
          }
      },
    data() {
        return {
            truncated: true,
            video_api_endpoint: 'https://www.googleapis.com/youtube/v3/videos?part=snippet,statistics&key=AIzaSyDsYOmtGfzLyAWilGq7zQg92AabFz2z0nU&id=',
            video: {}
        }
    },
  watch: {
      videoId: {
          immediate: true,
          handler(val, oldVal) {
              this.callApi();
          }
      }
  },
  methods: {
      callApi() {
            axios.get(this.video_api_endpoint + this.videoId).then((response) => {
                // console.log(response);
                let vidObject = {
                    id: this.videoId,
                    title: response.data.items[0].snippet.title,
                    description: response.data.items[0].snippet.description,
                    thumbnails: response.data.items[0].snippet.thumbnails,
                    views: response.data.items[0].statistics.viewCount,
                    likes: response.data.items[0].statistics.likeCount,
                    dislikes: response.data.items[0].statistics.dislikeCount
                }
                this.video = vidObject;
            });
      }
  }
}
</script>

<style lang="scss" scoped>
.description.truncated {
    height: 5rem;
    overflow: hidden;
}
.description {
    cursor: pointer;
    position: relative;
    margin-bottom: 3rem;
    padding: 2rem 1rem;
}

.description.truncated :after {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    height: 25px;
    color: white;
    content: 'Click to Show';
    font-weight: 700;
}

.description.truncated:hover :after {
    background-color: rgba(0,0,0,.5)
}
</style>
