<template>
    <b-navbar toggleable="md" type="dark" variant="dark">
    <b-navbar-brand :to="{ name: 'home' }">Home</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item :to="{ name: 'video', params: { videoId: '1roy4o4tqQM' } }">Pikachu</b-nav-item>
        <b-nav-item :to="{ name: 'video', params: { videoId: 'u-JPA3oZuSc' } }">Toy Story 4</b-nav-item>
        <b-nav-item :to="{ name: 'video', params: { videoId: 'SfEpqmdXhiU' } }">Sonic</b-nav-item>
        <b-nav-item :to="{ name: 'video', params: { videoId: 'gUTtJjV852c' } }">Dora</b-nav-item>
        <b-nav-item :to="{ name: 'video', params: { videoId: '6prr2MIHE0Q' } }">Godzilla</b-nav-item>

        <b-nav-form @submit.prevent="">
          <b-form-input size="sm" class="mr-sm-2 ml-sm-2" v-model="searchTerm" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit" @click.prevent="search">Search</b-button>
        </b-nav-form>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>


<script>
export default {
  name: 'Navbar',
  data () {
      return {
          searchTerm: ''
      }
  },
  methods: {
      search() {
          if(this.searchTerm.length>0){
              //Search using YouTube API store in vuex
              this.$router.push({name: 'search', params: { searchTerm: this.searchTerm }})
              this.searchTerm = '';
          }
      }
  }
}
</script>

<style lang="scss" scoped>
a:hover {
    cursor: pointer;
}
</style>
