<template>
  <div id="app">
    <Navbar />
    <transition name="fade">
      <router-view/>
    </transition>
  </div>
</template>

<script>

import Navbar from '@/components/Navbar.vue'

export default {  
  components: {
    Navbar
  },
  mounted() {
      if (document.getElementById('faCDN')) return; // was already loaded
      let scriptTag = document.createElement("script");
      scriptTag.src = "https://kit.fontawesome.com/9699716d97.js";
      scriptTag.id = "faCDN";
      document.getElementsByTagName('head')[0].appendChild(scriptTag);
  }
}
</script>


<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
main {
  min-height: calc(100vh - 56px);
}
</style>
